body {
    text-align: center;
    font-family: arial;
    background-color: #83bc6f; 
}

#graph {
    display: block;
    margin: 50px auto;
    background-color: white;
    border-radius: 5px;
    width: 80;
    max-width: 1000px;
    height: auto;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.5);
}
#title {
    font-size: 30px;
    font-weight: bold;
}
#tooltip {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    margin: auto;
}

.bar {
    fill: #5e8e4d;
}

#x-axis-label, #y-axis-label {
    font-size: 15px;
}

#x-axis, #y-axis, #x-axis-label {
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    #x-axis, #y-axis, #x-axis-label, #y-axis-label {
        font-size: 20px;
    }

    #tooltip {
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        position: absolute;
        font-size: 10px;
    }

}